#map {
  height: 500px;
}

.top-padding {
  margin-top: 5000px;
}
.support-hero .topics .topic {
  display: inline-block;
  float: left;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  border: 1px solid #f5f7f9;
  border-radius: 14px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.index-photography-cta {
  height: 410px;
  background: url("../images/unsplash/aerial.jpg") no-repeat 50% 20%;
  background-size: cover;
  text-align: center;
  padding-top: 120px;
}
.index-photography-cta h2 {
  color: #fff;
  font-size: 32px;
  letter-spacing: .5px;
}
@media (max-width: 767px) {
  .index-photography-cta h2 {
    font-size: 27px;
    line-height: 35px;
  }
}
.index-photography-cta button {
  background: #88bee0;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-top: 50px;
  padding: 20px 35px;
  font-size: 13px;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.index-photography-cta button:hover {
  background: #6690e4;
}